@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
$main-font: "Poppins", sans-serif;
/*
$main-color: #5c8d89;

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, $main-color);
  border-radius: 5px;
}
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}
html {
  scroll-behavior: smooth;
}
body,
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
}
.container {
  flex: 1 0 auto;
}
/*navbar*/
.nav {
  background-color: transparent;
  position: fixed;
  top: 0;
  height: 75px;
  padding: 0.4em;
  width: 100%;
  display: grid;
  grid-template-columns: 0.2fr 2fr 2fr 0.2fr;
  grid-template-rows: auto;
  transition: background-color 0.6s;
  /*logo*/
  &__boxForLogo {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__linkForLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
  &__logo {
    width: 120px;
  }
  /*hamburger*/
  &__boxForHamburger {
    /*display: flex;*/
    display: none;
    justify-content: center;
    align-items: center;
  }
  &__checkboxForHamburger {
    display: none;
  }
  &__hamburger {
    width: 30px;
    height: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
  }
  &__hamburger:hover {
    cursor: pointer;
  }
  &__hamburgerItem {
    transition: transform 0.4s;
    width: 100%;
    height: 4px;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
  }
  /*menu*/
  &__menu {
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  &__list {
    margin: 1.2em;
    transition: all 0.45s;
  }
  &__list:hover {
    transform: scale(1.1);
  }
  &__link {
    text-transform: capitalize;
    font-size: 1.1em;
  }
  &__link,
  &__linkForLogo {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
}
.main {
  width: 100%;
  &__banner {
    width: 100%;
    height: 100vh;
    background-image: url(../images/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*&__header {
  }*/
  &__title {
    text-align: center;
    font-size: 2.5em;
    text-shadow: -0.0075em 0.0075em 0 mix(#fff, rgb(0, 0, 0), 94%),
      0.005em 0.005em 0 mix(#fff, rgb(0, 0, 0), 60%),
      0.01em 0.01em 0 mix(#fff, rgb(0, 0, 0), 62%),
      0.015em 0.015em mix(#fff, rgb(0, 0, 0), 64%),
      0.02em 0.02em 0 mix(#fff, rgb(0, 0, 0), 66%),
      0.025em 0.025em 0 mix(#fff, rgb(0, 0, 0), 68%),
      0.03em 0.03em 0 mix(#fff, rgb(0, 0, 0), 70%),
      0.035em 0.035em 0 mix(#fff, rgb(0, 0, 0), 72%);
  }
}
/*footer*/
.footer {
  flex-shrink: 0;
}
