@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/*
$main-color: #5c8d89;

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, $main-color);
  border-radius: 5px;
}
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: white;
}

.container {
  flex: 1 0 auto;
}

/*navbar*/
.nav {
  background-color: white;
  position: fixed;
  top: 0;
  padding: 0.4em;
  width: 100%;
  display: grid;
  grid-template-columns: 0.2fr 2fr 2fr 0.2fr;
  grid-template-rows: 62.22px;
  box-shadow: 0 1px 1px black;
  /*logo*/
  /*menu*/
}

.nav__logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
}

.nav__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.nav__logo {
  width: 120px;
  /*fill: rgb(255, 255, 255);*/
}

.nav__hamburger-box {
  display: none;
  justify-content: center;
  align-items: center;
}

.nav__hamburger-checkbox {
  display: none;
}

.nav__hamburger {
  width: 30px;
  height: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.nav__hamburger:hover {
  cursor: pointer;
}

.nav__hamburger-item {
  transition: transform 0.4s;
  width: 100%;
  height: 4px;
  background-color: black;
  border-radius: 4px;
}

.nav__menu {
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav__menu-list {
  margin: 1.2em;
  transition: all 0.45s;
}

.nav__menu-list:hover {
  transform: scale(1.1);
}

.nav__menu-link {
  user-select: none;
  text-transform: capitalize;
  color: black;
  /*color: rgb(255, 255, 255);*/
  font-size: 1.1em;
  text-decoration: none;
}

.main {
  width: 100%;
  /*&__header {
  }*/
  /*
  &__title {
    width: 100%;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
  }
  &__article {
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
  }
  &__article-image {
    border-radius: 5px;
    width: 600px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__article-image--1 {
    background-image: url(../images/ma1.jpg);
  }
  &__article-image--2 {
    background-image: url(../images/ma2.jpg);
    order: 1;
  }
  &__article-image--3 {
    background-image: url(../images/ma3.jpg);
  }
  &__article-description {
    padding: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  &__offer-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
  }
  &__offer {
    transition: 1.8s;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__offer:hover {
    cursor: pointer;
  }
  &__offer--1 {
    background-image: url(../images/o1.jpg);
  }
  &__offer--2 {
    background-image: url(../images/o2.jpg);
  }
  &__offer--3 {
    background-image: url(../images/o3.jpg);
  }
  &__offer--4 {
    background-image: url(../images/o4.jpg);
  }
  &__offer--5 {
    background-image: url(../images/o5.jpg);
  }
  &__offer--6 {
    background-image: url(../images/o6.jpg);
  }
  &__offer-description {
    display: none;
    background-color: rgba(29, 29, 29, 0.753);
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
  }
  &__offer-title {
    width: 100%;
    text-align: center;
    margin-bottom: 5em;
  }
  */
}

.main__banner {
  width: 100%;
  height: 100vh;
  background-image: url(../images/banner3.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__banner-title {
  text-align: center;
  font-size: 2.5em;
  text-shadow: -0.0075em 0.0075em 0 #f0f0f0, 0.005em 0.005em 0 #999999, 0.01em 0.01em 0 #9e9e9e, 0.015em 0.015em #a3a3a3, 0.02em 0.02em 0 #a8a8a8, 0.025em 0.025em 0 #adadad, 0.03em 0.03em 0 #b3b3b3, 0.035em 0.035em 0 #b8b8b8;
}

/*footer*/
.footer {
  flex-shrink: 0;
}

/*
.footer {
  background: rgb(36, 36, 36);
  color: white;
  margin-top: 6em;
  width: 100%;
  padding-left: 5em;
  padding-right: 5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer__concact,
.footer__help,
.footer__about {
  padding: 5em;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.box__reference,
.help__reference {
  font-size: 1.1em;
  text-align: left;
  text-decoration: none;
  color: white;
}
.fab,
.fas,
.far {
  color: white;
  transition: 0.2s all;
  margin: 0.1em;
  font-size: 1.3em;
}
.fab:hover,
.fas:hover,
.far:hover {
  cursor: pointer;
  color: rgb(25, 155, 25);
}

.about__content {
  font-size: 1.1em;
  margin-bottom: 0.2em;
}
.fab {
  color: white;
  font-size: 1.6em;
}
.about__box {
  margin-top: 0.1em;
}
.help__header,
.about__header,
.concact__header {
  margin-bottom: 0.2em;
}
*/
/*media*/
@media screen and (max-width: 1281px) {
  /* hi-res laptops and desktops */
}

@media screen and (max-width: 1107px) {
  .nav {
    width: 100%;
    /*logo*/
    /*hamburger*/
    /*if hamburger is checked*/
    /*menu*/
  }
  .nav__hamburger-box {
    display: flex;
  }
  .nav__menu {
    display: none;
  }
}

@media screen and (max-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media screen and (max-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media screen and (max-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .nav {
    grid-template-rows: 50px;
  }
  .nav__logo {
    width: 110px;
  }
  .nav__hamburger {
    width: 25px;
    height: 20px;
  }
  .nav__menu-link {
    font-size: 1em;
  }
}

@media screen and (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .nav {
    grid-template-rows: 45px;
  }
  .nav__logo {
    width: 90px;
  }
  .nav__hamburger {
    width: 20px;
    height: 15px;
  }
  .nav__hamburger-item {
    height: 3px;
  }
  .nav__menu-link {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
/*# sourceMappingURL=main.css.map */